body {
  background-color: #f8f1f1;
}

.calculator {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  width: 400px;
}

.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: #265a51;
  color: #fff;
  text-align: right;
  font-size: 36px;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 5px;
}

.calculator-keys {
  width: 100%;
}

.row {
  display: flex;
}

button {
  height: 80px;
  background-color: #eb5e0b;
  border: 1px solid black;
  font-size: 32px;
  color: #fff;
  width: 25%;
  outline: none;
  border-radius: 20px;
  margin: 3px 3px;
}

.all-clear,
.zero-btn {
  width: 50%;
}

.operator,
.equal-sign {
  background-color: #5eaaa8;
}

button:hover {
  background-color: rgb(180, 73, 10);
}

.operator:hover,
.equal-sign:hover {
  background-color: #4c8886;
}
